### ASSIGNMENT 1

# TASK 1:

Question 1: Install Jupyter notebook and run the first program and share the screenshot of the output.  
            LINK

In [1]:
print('Link')

Link

Question 2: 
    Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, 
    between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line

Way 1:

In [2]:
i = 2000
output1 = []
while ((i>=2000) and(i<=3200)) :
    if(i%7 == 0):
        if(i%5 != 0):
            output1.append(i)
    
    i+=1

            


print(output1)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Way 2:

In [3]:
a = 2000

sevenmultiples = []
OP = []

for x in range(2000,3201):
    if(x%7 == 0):
        sevenmultiples.append(x)

In [4]:
print(len(sevenmultiples))

172

In [5]:
for y in sevenmultiples :
    if (y%5 == 0):
        sevenmultiples.remove(y)

In [6]:
OP = sevenmultiples

print(len(OP))
print(OP)

138
[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Question 3:
 
Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [7]:
firstname = input("Enter your first name : ")
firstname_reverse = firstname[::-1]
lastname = input("Enter your last name : ")
lastname_reverse = lastname[::-1]
FullName = firstname+' '+lastname
namesreversed = firstname_reverse+' '+lastname_reverse

print(FullName)
print(namesreversed)

Enter your first name : first
Enter your last name : last
first last
tsrif tsal

Question 4.  
 
Write a Python program to find the volume of a sphere with diameter 12 cm.  
 
Formula: V=4/3 * π * r 3

In [8]:
diameter = input("Please Enter the Diameter of the sphere : ")
radius = int(diameter)/2
pi = 3.14159
volume_of_Sphere = (4/3)*pi*(radius**3)
print("Volume of the sphere with diameter - "+diameter+" is : "+str(volume_of_Sphere))

Please Enter the Diameter of the sphere : 12
Volume of the sphere with diameter - 12 is : 904.7779199999999

# TASK 2:

Question 1: 
    Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [9]:
list_of_numbers = []
inde = 0

while (inde<5) :
    temp = input("Enter the number : ")
    list_of_numbers.append(temp)
    inde+=1

print(list_of_numbers)

Enter the number : 4
Enter the number : 6
Enter the number : 8
Enter the number : 12
Enter the number : 16
['4', '6', '8', '12', '16']

Question 2:

 
Create the below pattern using nested for loop in Python. 
 
 
*
**
***
****
*****
****
***
**
*

In [10]:
star1 = 0
star2 = 0

while star1<5:
    while star2<star1+1:
        print('*',end = ' ')
        star2+=1
    star2=0
    star1+=1
    print()

while star1>=0:
    while star2<star1+1:
        print('*',end = ' ')
        star2+=1
    star2=0
    star1-=1
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Question 3.  
 
Write a Python program to reverse a word after accepting the input from the user. 
 
Sample Output: 
 
Input word: AcadGild 
 
Output: dilGdacA

In [11]:
input_word = input("Please enter your Input text: ")
print(input_word[::-1])

Please enter your Input text: AcadGild
dliGdacA

Question 4:
 Write a Python Program to print the given string in the format specified in the ​sample output. 
 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
 
Sample Output: 
 
WE, THE PEOPLE OF INDIA,   having solemnly resolved to constitute India into a SOVEREIGN, !  SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    and to secure to all its citizens

Way 1:

In [13]:
input_string = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"


print("WE, THE PEOPLE OF INDIA,")
print("         having solemnly resolved to constitute India into a SOVEREIGN, !")
print("                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC")
print("                 and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
         having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                 and to secure to all its citizens

way2:

In [16]:
B = '{part1} \n \t {part2} ! \n \t \t{part3} \n \t \t {part4} '.format(part1 = 'WE, THE PEOPLE OF INDIA,',part2 = 'having solemnly resolved to constitute India into a SOVEREIGN,',part3 = 'SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC',part4 = 'and to secure to all its citizens')
print(B)

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN, !
 	 	SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	 and to secure to all its citizens